@import "tailwindcss";

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-gray-100 text-gray-900 font-sans antialiased;
  }

  a {
    @apply text-blue-600 hover:text-blue-800 no-underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-extrabold leading-tight;
  }

  button {
    @apply cursor-pointer;
  }

  img {
    @apply max-w-full h-auto;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }
}